# .gitattributes

# Aliases
[attr]crlf eol=crlf

# Normalize
* text=auto eol=lf

# Windows
# *.bat crlf

# GitLab: syntax highlight
*.code-workspace    gitlab-language=json
*.jsonc             gitlab-language=json
*.yml               gitlab-language=yaml
_redirects          gitlab-language=ini

# GitHub & Codeberg: languages and diffs
*.code-workspace    linguist-language=JSON
*.jsonc             linguist-language=JSON
*.yml               linguist-language=YAML
_redirects          linguist-language=INI

# Statistics
*.json  linguist-detectable
# *.md  linguist-detectable
