* text=auto eol=lf

# GitHub/Forgejo (linguist-language): Exact canonical case (Shell, JSON, JavaScript). UPPER or lower only do not work.
# GitLab (gitlab-language): lowercase only (shell, json).
#
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
# https://github.com/go-enry/go-enry/blob/master/data/languageInfo.go
*.yaml           linguist-detectable
_redirects       linguist-detectable
*.yml            linguist-language=YAML       gitlab-language=yaml
.git*            linguist-language=Shell      gitlab-language=shell
.gitlab-ci.yml   linguist-language=YAML       gitlab-language=yaml
.shellcheckrc    linguist-language=Shell      gitlab-language=shell
